.header {
    height: 94vh;
    background-color: #FFFFFF;
    width: 300px;
    padding: 10px;
    margin-right: 14px;
    overflow: hidden;
    border: 14px solid #F0F0F0;
    border-right: 0;
}
@media screen and (max-width: 1200px) {
    .header{
        max-height: 40px;
        padding: 0;
        width: 100%;
        margin: 0;
        border: 0;
        display: flex;
    }
}
