.contactsBlock {
    height: 100vh;

}

.contactsContainer {
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

}


.title {
    background-color: darkgray;
}

.contacts {
    background-color: darkgray;
    padding: 10px;
    width: 60%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contacts input{
    height: 30px;
}
.contacts textarea{
    height: 120px;
}

