.worksBlock {
    height: 100vh;
}

.worksContainer {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.title {
    background-color: darkgray;
}

.works {
    border: 1px solid darkgray;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media screen and (max-width: 1200px) {
    .works{
        justify-content: center;
    }
}