.worksBlock {
    min-height: 100vh;
}

.worksContainer {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.title {
    margin-bottom: 70px;
}

.works {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
    .works{
        justify-content: center;
    }
}