@import 'src/variables.scss';
.skillsBlock {
    min-height: 100vh;
    color: $secondary-color;
}

.skillsContainer {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

}

.title {
    color: black;
}

.skills {
    margin-top: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

@media screen and (max-width: 1200px) {
    .skillsBlock {
    }

    .skillsContainer {
        flex-direction: row;
        justify-content: center;
    }

    .skills {
        justify-content: center;
        margin-top: 40px;
    }
}